**Name: Amogh Kumar Mishra**

**Registration No: 20BCE2347**

**SmartBridge VIT ARTIFICIAL INTELLIGENCE 2023**

**Assignment - 1**

In [10]:
import pandas as pd
import numpy as np

**Task - 1 Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)**

In [11]:
obsv1 = pd.Series(np.random.rand(4))
obsv2 = pd.Series(np.random.rand(4))
obsv3 = pd.Series(np.random.rand(4))
obsv4 = pd.Series(np.random.rand(4))

print(obsv1, obsv2, obsv3, obsv4)

0    0.598414
1    0.199196
2    0.191971
3    0.473000
dtype: float64 0    0.944567
1    0.312690
2    0.715561
3    0.754812
dtype: float64 0    0.598071
1    0.090500
2    0.893288
3    0.570120
dtype: float64 0    0.433211
1    0.051472
2    0.527601
3    0.888066
dtype: float64

In [12]:
df = pd.DataFrame([obsv1, obsv2, obsv3, obsv4])
df

# df = pd.DataFrame(np.random.rand(4, 4))

          0         1         2         3
0  0.598414  0.199196  0.191971  0.473000
1  0.944567  0.312690  0.715561  0.754812
2  0.598071  0.090500  0.893288  0.570120
3  0.433211  0.051472  0.527601  0.888066

**Task - 2 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'**

In [13]:
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.598414        0.199196        0.191971        0.473000
1        0.944567        0.312690        0.715561        0.754812
2        0.598071        0.090500        0.893288        0.570120
3        0.433211        0.051472        0.527601        0.888066

**Task - 3 Find the descriptive statistics of the 'df' dataframe.**

In [14]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.643566        0.163464        0.582105        0.671500
std          0.215220        0.117489        0.299900        0.185761
min          0.433211        0.051472        0.191971        0.473000
25%          0.556856        0.080743        0.443693        0.545840
50%          0.598242        0.144848        0.621581        0.662466
75%          0.684952        0.227569        0.759992        0.788126
max          0.944567        0.312690        0.893288        0.888066

**Task - 4 Check for the null values in 'df' and find the data type of the columns.**

In [15]:
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [16]:
df.dtypes

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

**Task - 5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.**

In [17]:
# Location Method
df.loc[0:, 'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.199196        0.191971
1        0.312690        0.715561
2        0.090500        0.893288
3        0.051472        0.527601

In [18]:
# Index Location Method
df.iloc[0:, 1:3]

   Random value 2  Random value 3
0        0.199196        0.191971
1        0.312690        0.715561
2        0.090500        0.893288
3        0.051472        0.527601