Kaushik Gupta - 20BCE0823

In [ ]:
import pandas as pd
import numpy as np

Task - 1 Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [ ]:
# Create random values using NumPy
data = np.random.rand(4, 4)
data

array([[0.22645879, 0.49345421, 0.27135009, 0.57707569],
       [0.77512966, 0.72270959, 0.71096724, 0.80473803],
       [0.29722701, 0.46073758, 0.59281596, 0.94759848],
       [0.55002466, 0.31429882, 0.48569579, 0.14813132]])

In [ ]:
# Create the DataFrame
df = pd.DataFrame(data, columns=['Feature1', 'Feature2', 'Feature3', 'Feature4'])
df

   Feature1  Feature2  Feature3  Feature4
0  0.226459  0.493454  0.271350  0.577076
1  0.775130  0.722710  0.710967  0.804738
2  0.297227  0.460738  0.592816  0.947598
3  0.550025  0.314299  0.485696  0.148131

Task - 2 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [ ]:
# Rename the column names
new_columns = {
    'Feature1': 'Random value 1',
    'Feature2': 'Random value 2',
    'Feature3': 'Random value 3',
    'Feature4': 'Random value 4'
}
df = df.rename(columns=new_columns)
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.226459        0.493454        0.271350        0.577076
1        0.775130        0.722710        0.710967        0.804738
2        0.297227        0.460738        0.592816        0.947598
3        0.550025        0.314299        0.485696        0.148131

Task - 3 Find the descriptive statistics of the 'df' dataframe.

In [ ]:
statistics = df.describe()
statistics

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.462210        0.497800        0.515207        0.619386
std          0.250618        0.168967        0.186800        0.349261
min          0.226459        0.314299        0.271350        0.148131
25%          0.279535        0.424128        0.432109        0.469840
50%          0.423626        0.477096        0.539256        0.690907
75%          0.606301        0.550768        0.622354        0.840453
max          0.775130        0.722710        0.710967        0.947598

Task - 4 Check for the null values in 'df' and find the data type of the columns.

In [ ]:
# Check for null values
null_values = df.isnull()
null_values

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [ ]:
# Find the data type of each column
data_types = df.dtypes
data_types

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

Task - 5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [ ]:
# Display columns using the location method (.loc)
columns_loc = df.loc[:, ['Random value 2', 'Random value 3']]
columns_loc

   Random value 2  Random value 3
0        0.493454        0.271350
1        0.722710        0.710967
2        0.460738        0.592816
3        0.314299        0.485696

In [ ]:
# Display columns using the index location method (.iloc)
column_indices = [1, 2]  # Indices of 'Random value 2' and 'Random value 3' columns
columns_iloc = df.iloc[:, column_indices]
columns_iloc

   Random value 2  Random value 3
0        0.493454        0.271350
1        0.722710        0.710967
2        0.460738        0.592816
3        0.314299        0.485696