In [1]:
import pandas as pd
import numpy as np

**Task - 1 Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)**

In [9]:
obsv1 = pd.Series(np.random.rand(4))
obsv2 = pd.Series(np.random.rand(4))
obsv3 = pd.Series(np.random.rand(4))
obsv4 = pd.Series(np.random.rand(4))

print(obsv1, obsv2, obsv3, obsv4)

0    0.372129
1    0.078929
2    0.308647
3    0.595804
dtype: float64 0    0.234575
1    0.712102
2    0.665725
3    0.370228
dtype: float64 0    0.553452
1    0.261268
2    0.232348
3    0.836928
dtype: float64 0    0.437703
1    0.658990
2    0.032333
3    0.371453
dtype: float64

In [10]:
df = pd.DataFrame([obsv1, obsv2, obsv3, obsv4])
#df = pd.DataFrame(np.random.rand(4,4))
df

          0         1         2         3
0  0.372129  0.078929  0.308647  0.595804
1  0.234575  0.712102  0.665725  0.370228
2  0.553452  0.261268  0.232348  0.836928
3  0.437703  0.658990  0.032333  0.371453

**Task - 2 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'**

In [11]:
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.372129        0.078929        0.308647        0.595804
1        0.234575        0.712102        0.665725        0.370228
2        0.553452        0.261268        0.232348        0.836928
3        0.437703        0.658990        0.032333        0.371453

**Task - 3 Find the descriptive statistics of the 'df' dataframe.**

In [12]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.399465        0.427823        0.309763        0.543603
std          0.133054        0.307528        0.264367        0.222455
min          0.234575        0.078929        0.032333        0.370228
25%          0.337740        0.215684        0.182344        0.371147
50%          0.404916        0.460129        0.270498        0.483628
75%          0.466640        0.672268        0.397916        0.656085
max          0.553452        0.712102        0.665725        0.836928

**Task - 4 Check for the null values in 'df' and find the data type of the columns.**

In [14]:
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [15]:
df.dtypes

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

**Task - 5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.**

In [16]:
# Location Method
df.loc[0:, 'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.078929        0.308647
1        0.712102        0.665725
2        0.261268        0.232348
3        0.658990        0.032333

In [17]:
# Index Location Method
df.iloc[0:, 1:3]

   Random value 2  Random value 3
0        0.078929        0.308647
1        0.712102        0.665725
2        0.261268        0.232348
3        0.658990        0.032333